<template>
<div id="results-board">
    <div class="results-tile">
        <h3>Recent
            <span>{{ selectedDivision }}</span> Results
        </h3>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Time</th>
                    <th scope="col">Opponent</th>
                    <th scope="col">Format</th>
                    <th scope="col">Result</th>
                </tr>
            </thead>
            <tbody>
                <template v-for="(result, index) in resultList">
                    <tr v-bind:key="result.id">
                        <th scope="row">{{ index + 1 }}</th>
                        <td>{{ formatTime(result.time) }}</td>
                        <td>{{ result.opponent }}</td>
                        <td>{{ result.format }}</td>
                        <td>{{ result.win ? "Win" : "Lose" }}</td>
                    </tr>
                </template>
            </tbody>
        </table>
    </div>
</div>
</template>

<style scoped>
#results-board {
    width: 79%;
}

.results-tile {
    background-color: #11171a;
    border-top: 4px solid #faa61a;
    border-bottom: 20px solid #faa61a;
}

h3 {
    text-transform: uppercase;
    margin: 1%;
    text-align: center;
    color: #f4f5f6;
}

span {
    font-weight: bold;
    color: #faa61a;
}

td.match-detail {
    text-align: left;
}

.collapse {
    border-left: 4px solid #faa61a;
    padding-left: 3%;
}

button.detail-button {
    border-radius: 50%;
    border: none;
    color: #faa61a;
    background-color: #11171a;
}

table,
td {
    text-align: center;
    color: #f4f5f6;
}
</style>

<script>
export default {
  name: 'ResultsBoard',
  props: {
    selectedDivision: String,
    resultList: {
      type: Array,
      default: null,
    },
  },
  mounted() {
  },
  components: {},
  methods: {
    formatTime(time) {
      return `${new Date(time).toLocaleDateString()} ${new Date(time).toLocaleTimeString()}`;
    },
    bindDataTarget(index, button) {
      return button ? `#match-detail${index}` : `match-detail${index}`;
    },
  },
  data() {
    return {
      title: 'ResultsBoard',
    };
  },
};
</script>
