<template>
<div id="player-profile">
    <div class="player-data">
        <h3 class="name"><i v-if="roster.captain" class="fas fa-crown"></i>
            {{ roster.name }}</h3>
        <h3 class="nickname">{{ roster.nickname }}</h3>
        <br>
        <h3 class="extra-info"><strong>Age: </strong>{{ roster.age }}</h3>
        <h3 class="extra-info"><strong>Country: </strong>{{ roster.country }}</h3>
        <h3 v-if="roster.position !== null" class="extra-info">
            <strong>Position: </strong>{{ roster.position }}</h3>
    </div>
    <img v-if="!roster.avatarUrl" src="../../../assets/mock-avatar.png" alt="player-avatar">
    <img v-if="roster.avatarUrl" v-bind:src="roster.avatarUrl" alt="player-avatar">
</div>
</template>

<style scoped>
#player-profile {
    border-top: 4px solid #faa61a;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 32%;
    margin-top: 1%;
    padding-bottom: 1.5%;
}

img {
    width: 150px;
    height: 175px;
    margin: 10% 0 10% 0;
}

h3.name {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

h3.nickname {
    font-size: 18px;
    color: #b8b9ba;
}

h3.extra-info {
    font-size: 16px;
}

.player-data {
    width: 55%;
    margin: 10% 0 10% 0;
}
</style>

<script>
export default {
  name: 'PlayerProfile',
  props: {
    roster: Object,
  },
  data() {
    return {};
  },
};
</script>
