<template>
<div id="results">
    <DivisionSelector v-bind:divisionList="divisionList" @selectDivision="selectDivision" />
    <ResultsBoard  v-bind:selectedDivision="selectedDivision"
                   v-bind:resultList="resultList" />
</div>
</template>

<style scoped>
#results {
  margin: 1%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
</style>

<script>
import DivisionSelector from '@/components/divisions/DivisionSelector.vue';
import ResultsBoard from '@/components/results/ResultsBoard.vue';
import * as mockDivisions from '../assets/mocks/divisions/divisions.json';
import * as mockResults from '../assets/mocks/results/results.json';

export default {
  name: 'Results',
  components: {
    DivisionSelector,
    ResultsBoard,
  },
  data() {
    return {
      selectedDivision: 'Dota 2',
      divisionList: [],
      resultList: [],
    };
  },
  methods: {
    selectDivision(selectedDivision) {
      this.selectedDivision = selectedDivision;
    },
    setDivisionList(divisionList) {
      this.divisionList = divisionList;
    },
    setResultList(resultList) {
      this.resultList = resultList;
    },
  },
  mounted() {
    setTimeout(() => this.setDivisionList(mockDivisions.default.divisions), 2000);
    setTimeout(() => this.setResultList(mockResults.default.results), 2000);
  },
};
</script>
