<template>
<div id="footer">
    © 2019 Ascension E-Sports
</div>
</template>

<style scoped>
#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5%;
    background-color: #11171a;
    color: #f4f5f6;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 4px solid #faa61a;
}
</style>

<script>
export default {
  name: 'Footer',
};
</script>
