<template>
<div id="tournament-schedules">
    <div class="schedule-tile" v-if="tournamentSchedules.length">
        <h3>Upcoming
            <span>{{ selectedDivision }}</span> Tournament
        </h3>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Time</th>
                    <th scope="col">Opponent</th>
                    <th scope="col">League</th>
                    <th scope="col">Format</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <template v-for="(tournament, index) in tournamentSchedules">
                    <tr v-bind:key="tournament.id">
                        <th scope="row">{{ index + 1 }}</th>
                        <td>{{ formatTime(tournament.time) }}</td>
                        <td>{{ tournament.opponent }}</td>
                        <td>{{ tournament.league }}</td>
                        <td>{{ tournament.format }}</td>
                        <td><button
                            class="detail-button"
                            data-toggle="collapse"
                            v-bind:data-target="bindDataTarget(tournament.id, true)">
                            <i class="fas fa-angle-down"></i>
                        </button></td>
                    </tr>
                </template>
            </tbody>
        </table>
    </div>
    <template v-if="!tournamentSchedules.length">
        <div class="loading-spinner">
            <i class="fas fa-spinner fa-spin"></i>
        </div>
    </template>
</div>
</template>

<style scoped>
#tournament-schedules {
    width: 43%;
}

.schedule-tile {
    background-color: #11171a;
    border-top: 4px solid #faa61a;
    border-bottom: 20px solid #faa61a;
}

td.match-detail {
    text-align: left;
}

.collapse {
    border-left: 4px solid #faa61a;
    padding-left: 3%;
}

button.detail-button {
    border-radius: 50%;
    border: none;
    color: #faa61a;
    background-color: #11171a;
}

h3 {
    text-transform: uppercase;
    margin: 1%;
    text-align: center;
    color: #f4f5f6;
}

span {
    font-weight: bold;
    color: #faa61a;
}

a {
    color: #faa61a;
}

table,
td {
    text-align: center;
    color: #f4f5f6;
    border-top: none;
    border-bottom: none;
}

i.fa-spinner {
    font-size: 80px;
}

.loading-spinner {
    margin: 35% 0 0 -20%;
}
</style>

<script>
export default {
  name: 'TournamentSchedules',
  components: {},
  props: {
    tournamentSchedules: {
      type: Array,
      default: null,
    },
    selectedDivision: String,
  },
  data() {
    return {};
  },
  methods: {
    formatTime(time) {
      return `${new Date(time).toLocaleDateString()} ${new Date(time).toLocaleTimeString()}`;
    },
    bindDataTarget(index, button) {
      return button ? `#match-detail${index}` : `match-detail${index}`;
    },
  },
  mounted() {},
};
</script>
